/*
    Name:           James Ritter
    Date:           November 1, 2021
    Description:    Main style sheet for Lewie's
*/

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
    background-image: url("../images/home_1440.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "lato", sans-serif;
    font-size: large;
    color: #cec4ba;
    font-weight: bold;
    margin: 0;
}


h1, h2, h3 {
    font-family: "lato", sans-serif;
    font-weight: bold;
    color: #ececec;
}

#header {
    font-size: 2.5em;
    font-family: 'Smooch', cursive;
    letter-spacing: .15em;
}

.container h3 {
    margin: auto;
    text-align: center;
}

header {
    text-align: center;
}

/* NAVIGATION */
nav {
    /*margin: 1.25em 1.25em 0.5em 1.25em;*/
    padding: 0 4rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:link, a:visited {
    color: darkorange;
}

nav a:hover {
    color: white;
}

#left_items li{
    padding-left: 1rem;
}

#home_li {
    padding-left: 0;
}

#right_items {
    min-width: 6em;
    justify-content: space-around;
}

/* Home Page */
.indexTop {
    text-align: center;
    border: 5px outset white;
    margin: 1.25em;
    padding: 1.25em;
    background-color: rgba(0,0,0,0.40);
}

.indexTop p {
    width: 80%;
    margin: auto;
}

.indexMid {
    background-color: rgba(0,0,0,0.40);
    border-radius: 25px;;
    margin: 1.25em;
    padding: 1.25em;
    width: auto;
}

.indexMid h2 {
    text-align: center;
}

.featureItems {
    text-align: center;
    margin: 1.25em;
    display: flex;
    justify-content: space-evenly;
}

.feature1, .feature2, .feature3, .feature4 {
    flex: 1;
}

.featureItems img {
    border-radius: 7em;
    width: auto;
    height: 150px;
    margin-top: 1.5em;
}

.googleMap {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

/* About Us Page*/
.aboutUs {
    line-height: 30px;
}

.aboutUs, .aboutTop, .aboutMid, .aboutMid p, .aboutBottom {
    background-color: rgba(0,0,0,0.40);
}

.aboutTop, .aboutMid, .aboutBottom {
    border-radius: 25px;
}

.aboutTitle{
    font-size: 50px;
}

.aboutTop {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

.aboutMid {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
    line-height: 30px;
}

.aboutMid article {
    text-align: center;
    padding: 1.25em;
}

.aboutMid aside {
    text-align: right;
    padding: 1.25em;
}

.aboutMidPics{
    text-align:center;

}

#aboutMidPic1{
    display:inline-block;
    height: 250px;
    width: 350px;

}

#aboutMidPic2{
    display:inline-block;
    padding-left: 50px;
    padding-right: 50px;
    height: 250px;
    width: 350px;

}

#aboutMidPic3{
    display:inline-block;
    height: 250px;
    width: 350px;

}

.aboutBottom {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

.leaderPhoto {
    display: flex;
    justify-content: space-around;
}

.leaderPictures {
    height: 250px;
    width: 240px;
}

/*List Menu*/
.menuItems {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}
.menuItems h2 {
    text-align: center;
}
/*Item Details*/
.row a{
    color: white;
}

/* styles of the book list table */
.menuItems div {
    padding: 3px 5px;
}

.menuItems .row {
    display: flex;
}

.menuItems .row:nth-child(even) {
    background-color: rgba(0,0,0,0.40);
    margin-top: 10px;
}

.menuItems .row:nth-child(odd) {
    background-color: rgb(0,0,0);
    margin-top: 10px;
}

.menuItems .header {
    font-weight: bold;
}

.menuItems .col1{
    width: 200px;
}

.menuItems .col2 {
    width: 450px;
    padding:0 5rem;
}

.menuItems .col3 {
    width: 10rem;
}

.menuItems .col4 {
    width: 8rem;
  }

/* styles of the book details table */
form {
    text-align: center;
}
.row a {
    text-decoration: none;
}

.menuDetails {
    display: flex;
    margin: 3em auto;
    width: 70%;
}

.menuDetails .col1 {
    width: auto;
}

.menuDetails img {
    width: 150px;
}
.menuDetails .cover {
    min-width: 200px;
}

.menuDetails .col1, .menuDetails .col2, .menuDetails .col3 .menuDetails .col4 {
    width: auto;
    padding-right: 50px;
}

.menuDetails .col1 {
    height: 50px;
}

.menuDetails .col2 {
    height: 50px;
}

.menuDetails .col3-2{
    width: auto;
    padding-right: 50px;
    height: 50px;
}

.menuDetails .col4-2{
    width: auto;
    padding-right: 50px;
    height: 50px;
}

.menuDetails .label div {
    font-weight: bold;
}

.menuDetails .content div {
    width: auto;
}

.loginHeading {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: row;
}

.loginOld {
    flex: 1;
    padding: 10px;
}

.loginNew {
    flex: 1;
    padding: 10px;
}

.loginOld, .loginNew {
    margin: 10px;
}

td.choices {
    float: right;
}

.menuOptions {
    background-color: rgba(0,0,0,0.40);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 2em 0 2em 0;
    margin-top: 15em;
    background-color: rgba(0,0,0,0.5);
}

footer p {
    margin: 0;
}


footer a {
    text-decoration: none;
    color: white;
}

/* makes nav &
 feature items responsive */
@media screen and (max-width: 1080px) {

    nav {
        flex-direction: column;
        margin: auto;
    }

    #header {
        order: 1;
    }

    #left_items {
        order: 2;
        min-width: max-content;
    }

    #right_items {
        order: 3;
        min-width: max-content;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: .25em;
    }

    .leaderPhoto {
        flex-direction: column;
    }

    .featureItems {
        flex-direction: column;
    }

    .featureItems img{
        width: 70%;
        height: auto;
    }

    .menuItems .col2 {
        display: none;
    }

    #clear {
        display: none;
    }

    .login-container {
        flex-direction: column;
    }
}

/* button styling
courtesy of https://fdossena.com/?p=html5cool/buttons/i.frag
*/
input[type=button], input[type=submit]{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color: #0b173d;
    text-align:center;
    transition: all 0.2s;
    font-size: large;
}
input[type=button]:hover, input[type=submit]:hover{
    color:#000000;
    background-color: #FFFFFF;

}
@media all and (max-width:30em){
    input[type=button], input[type=submit]{
        display:block;
        margin:0.4em auto;
        }
}



/* styles for input fields throughout the website */
form input {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-size: medium;
}

.choices {
    width: 50%;
    align-self: center;
    margin-top: 1.25em;
    display: flex;
    justify-content: space-between;
}

#return {
    align-self: center;
    margin-top: 100px;
}

/* styles for bubble displaying no. of items in cart */
#cartItemCounter {
    height: 20px;
    width: 20px;
    border-radius: 45%;
    background-color: #FFDD5EFF;
    text-align: center;
    font-size: small;
    font-weight: bold;
    padding-left: 0;
    color: #2C3840;
    display: inline-block;
}

.emptyCart {
    text-align: center;
    margin: 1.25em auto;
    padding: 1.25em;
    background-color: white;
    opacity: 0.40;
    width: 75%;
}

.emptyCart h1, .emptyCart p {
    color: black;
}

.emptyCart h1 {
    font-size: 2.5em;
}

.total {
    margin-left: auto;
    margin-right: 4em;
    text-align: right;
}

#message {
    width: max-content;
    margin: auto;
    padding: 3em;
    text-align: center;
}

#message img {
    opacity: 0.5;
    border-radius: 50%;
    padding: 3em;
}

#empty_img {
    opacity: 0.75;
}

.loginMsg {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 350px;
}

.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}
.pagination li a {
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;
}
.pagination li a:hover {
    background-color: #d4dada;
}
.pagination .next a, .pagination .prev a {
    text-transform: uppercase;
    font-size: 12px;
}
.pagination .currentpage a {
    background-color: darkorange;
    color: #fff;
}
.pagination .currentpage a:hover {
    background-color: darkorange;
}