/*
    Name:           James Ritter
    Date:           November 1, 2021
    Description:    Main style sheet for Lewie's
*/

body {
    background-image: url("../images/home_1440.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin: auto;
    width: 100%;
    color: white;
}

header {
    text-align: center;
    color: white;
    font-weight: bold;
}

/* NAVIGATION */
nav {
    border: 1px solid black;
    border-radius: 2em;
    margin: 1.25em;
}

nav li {
    list-style-type: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:link {
    color: red;
}

nav a:visited {
    color: darkorange;
}

nav a:hover {
    color: white;
}

nav a.current {
    color: gold;
}

/* Home Page */
.indexTop {
    color: white;
    text-align: center;
    border: 1px solid black;
    margin: 1.25em;
    padding: 1.25em;
}

.indexMid {
    color: white;
    border: 1px solid black;
    margin: 1.25em;
    padding: 1.25em;
}

.indexMid h2 {
    text-align: center;
}

.featureItems {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
    display: inline;
}

.feature1 img, .feature2 img, .feature3 img, .feature4 img, .feature5 img, .feature6 img{
    border-radius: 7em;
    width: 50%;
}

.googleMap {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

/* About Us Page*/
.aboutTop {
    text-align: center;
    border: 1px solid black;
    margin: 1.25em;
    padding: 1.25em;
}

.aboutMid {
    border: 1px solid black;
    margin: 1.25em;
    padding: 1.25em;
}

.aboutMid article {
    text-align: left;
    padding: 1.25em;
}

.aboutMid aside {
    text-align: right;
    padding: 1.25em;
}

.aboutBottom {
    text-align: center;
    border: 1px solid black;
    margin: 1.25em;
    padding: 1.25em;
}

/*List Menu*/
.menuItems {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
}


@media screen and (min-width: 900px) {

}



/*Coloring for layout*/
/*
.container {
    background-color: black;
}
header {
    background-color: orange;
}
nav {
    background-color: blue;
}
footer {
    background-color: pink;
}




/* styles of the book list table */
.menuItems {
    display: flex;
    flex-direction: column;
}
.menuItems div {
    padding: 3px 5px;
}

.menuItems .row {
    display: flex;
}

.menuItems .row:nth-child(even) {
}

.menuItems .header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 600;
}

.menuItems .col1 {
    width: 300px;
}

.menuItems .col2 {
    width: 300px;
}

.menuItems .col3 {
    width: 200px;
}

/*