/*
    Name:           James Ritter
    Date:           November 1, 2021
    Description:    Main style sheet for Lewie's
*/

body {
    background-image: url("../images/home_1440.jpg");
    background-color: #000000;
    opacity: 0.8;
    background-attachment: fixed;
    background-size: cover;
    font-family: "lato", sans-serif;
    font-size: large;
    color: #cec4ba;
    margin: 0;
}

h1, h2, h3 {
    font-family: "lato", sans-serif;
    font-weight: bold;
    color: #ececec;
}
.container h3 {
    margin: auto;
    text-align: center;
}

header {
    text-align: center;
}

/* NAVIGATION */
nav {
    /*margin: 1.25em 1.25em 0.5em 1.25em;*/
    padding: 0 4rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:link, a:visited {
    color: darkorange;
}

nav a:hover {
    color: white;
}

#left_items {
    min-width: 10em;
}

#right_items {
    min-width: 6em;
    justify-content: space-around;
}

/* Home Page */
.indexTop {
    text-align: center;
    /*border: 1px solid black;
    color: white;*/
    margin: 1.25em;
    padding: 1.25em;
}

.indexTop p {
    width: 80%;
    margin: auto;
}

.indexMid {
    /*border: 1px solid black;
    color: white;*/
    margin: 1.25em;
    padding: 1.25em;
}

.indexMid h2 {
    text-align: center;
}

.featureItems {
    text-align: center;

    margin: 1.25em;
    display: flex;
    justify-content: space-evenly;
}

.featureItems img {
    border-radius: 7em;
    width: auto;
    height: 150px;
    margin-top: 1.5em;
}

.googleMap {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

/* About Us Page*/
.aboutUs {
    font-size: 40px;
}
.aboutTitle{
    font-size: 50px;
}
.aboutTop {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

.aboutMid {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;

}

.aboutMid article {
    text-align: center;
    padding: 1.25em;
}

.aboutMid aside {
    text-align: right;
    padding: 1.25em;
}

.aboutMidPics{
    text-align:center;

}

#aboutMidPic1{
    display:inline-block;
    height: 250px;
    width: 350px;

}

#aboutMidPic2{
    display:inline-block;
    padding-left: 50px;
    padding-right: 50px;
    height: 250px;
    width: 350px;

}

#aboutMidPic3{
    display:inline-block;
    height: 250px;
    width: 350px;
    width: 350px;

}

.aboutBottom {
    text-align: center;
    margin: 1.25em;
    padding: 1.25em;
}

.leaderPhoto {
    display: flex;
    justify-content: space-around;
}

.leaderPictures {
    height: 250px;
    width: 240px;
}

/*List Menu*/
.menuItems {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}
.menuItems h2 {
    text-align: center;
}
/*Item Details*/
.row a{
    color: white;
}

/* styles of the book list table */
/*.menuItems {
    display: flex;
    flex-direction: column;
}*/

.menuItems div {
    padding: 3px 5px;
}

.menuItems .row {
    display: flex;
}

.menuItems .row:nth-child(even) {
    background-color: rgba(0,0,0,0.35);
}

.menuItems .header {
    font-weight: bold;
}

.menuItems .col1{
    width: 200px;
}

.menuItems .col2 {
    width: 450px;
    padding:0 5rem;
}

.menuItems .col3, .col4 {
    width: 8rem;
  }

/* styles of the book details table */
form {
    text-align: center;
}
.row a {
    text-decoration: none;
}

.menuDetails {
    display: flex;
    margin: 3em auto;
    width: 70%;
}

.menuDetails .col1 {
    width: auto;
}

.menuDetails img {
    width: 150px;
}
.menuDetails .cover {
    min-width: 200px;
}

.menuDetails .col1, .menuDetails .col2, .menuDetails .col3 {
    width: auto;
    padding-right: 50px;
}

.menuDetails .col1 {
    height: 50px;
}

.menuDetails .col2 {
    height: 125px;
}

.menuDetails .label div {
    font-weight: bold;
}

.menuDetails .content div {
    width: auto;
}


/* FOOTER */
footer {
    text-align: center;
    /*color: white;*/
    padding: 2em 0 2em 0;
    margin-top: 3em;
    background-color: rgba(0,0,0,0.5);
}

footer p {
    margin: 0;
}


footer a {
    text-decoration: none;
    color: white;
}

/* makes nav &
 feature items responsive */
@media screen and (max-width: 880px) {

    nav {
        flex-direction: column;
    }

    #header {
        order: 1;
    }

    #left_items {
        order: 2;
        min-width: max-content;
    }

    #right_items {
        order: 3;
        min-width: max-content;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: .25em;
    }

    .leaderPhoto {
        flex-direction: column;
    }

    .featureItems {
        flex-direction: column;
    }

    .featureItems img{
        width: 70%;
        height: auto;
    }

    .menuItems .col2 {
        display: none;
    }

    #clear {
        display: none;
    }
}

/* button styling
courtesy of https://fdossena.com/?p=html5cool/buttons/i.frag
*/
input[type=button], input[type=submit]{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color: #0b173d;
    text-align:center;
    transition: all 0.2s;
    font-size: large;
}
input[type=button]:hover, input[type=submit]:hover{
    color:#000000;
    background-color: #FFFFFF;

}
@media all and (max-width:30em){
    input[type=button], input[type=submit]{
        display:block;
        margin:0.4em auto;
        }
}

/* styles for input fields throughout the website */
form input {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-size: medium;
}

.choices {
    width: 50%;
    align-self: center;
    margin-top: 1.25em;
    display: flex;
    justify-content: space-between;
}

#return {
    align-self: center;
    margin-top: 100px;
}

/* styles for bubble displaying no. of items in cart */
#cartItemCounter {
    height: 20px;
    width: 20px;
    border-radius: 45%;
    background-color: #FFDD5EFF;
    text-align: center;
    font-size: small;
    font-weight: bold;
    padding-left: 0;
    color: #2C3840;
    display: inline-block;
}
